.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj.bak

# Intermediários do LaTeX/knitr
reports/*.tex
reports/*.log
reports/*.aux
reports/*.out
reports/*.toc
reports/*_files/

# Descomente para NÃO versionar os PDFs:
# output/*.pdf
